print()-->output
input()-->input

In [2]:
Name="Anju prajapati"
city="Banda"

In [3]:
print("information about me")
print(Name)
print(city)

information about me
Anju prajapati
Banda

In [4]:
print("information about me =" ,Name , city)

information about me = Anju prajapati Banda

In [5]:
print('i am', Name,'and  i live in ' ,',', city)

i am Anju prajapati and  i live in  , Banda

In [6]:
x=12893498
y=2344354

In [7]:
print(f"i am {Name} and i live in ,{city}")

i am Anju prajapati and i live in ,Banda

#formatted string
these are special strings in python ,where we prepend f before the opening quote, making the string an f -string .we can the embed python expression directly inside the string .the expression are replaced with their values

In [8]:
n1='amjad'
c1='lucknow'
n2,c2='bhupendra','lucknow'
n3,c3='sia','lucknow'

In [9]:
#alt + sift+ down for duplicating the line

print(f'1.{n1:<14} {c1}') 
print(f'2.{n2:<14} {c2}')
print(f'3.{n3:<14} {c3}')

1.amjad          lucknow
2.bhupendra      lucknow
3.sia            lucknow

(>) use for right alignment
^ use for center alignment

In [10]:
print(n1 , n2 ,n3)

amjad bhupendra sia

In [11]:
print(n1 , n2 , n3, sep='\t')
print(n1 , n2 , n3, sep='\n')
print(n1 , n2 , n3, sep=',') #sep it is parameter

amjad	bhupendra	sia
amjad
bhupendra
sia
amjad,bhupendra,sia

In [12]:
city=input()
print(city)

In [13]:
city=input("enter your city name")
month=input("enter the current month name")
print(city , month, sep='\t')

TYPE CASTING

In [14]:
x="122327"
print(f"{x}" , type(x))
x=int(x)
print(f'{x}', type(x))

122327 <class 'str'>
122327 <class 'int'>