In [3]:
colors=['red','blue','green','white','yellow','black']
for color in colors:
    print(color)

red
blue
green
white
yellow
black

loop
- for loop
  - break
  - continue
  - else
  - enumerate
  - zip
- while

In [7]:
for color in colors:
    size=len(color)
    print(f'{color:10} {size} chars')

red        3 chars
blue       4 chars
green      5 chars
white      5 chars
yellow     6 chars
black      5 chars

In [9]:
for color in colors:
    if 'e' in color:
        print(color)

red
blue
green
white
yellow

In [10]:
raw_data=['alex','rahul','sonu','monu','raj','rohan']
for name in raw_data:
    print(name)

alex
rahul
sonu
monu
raj
rohan

In [11]:
for name in raw_data:
    if len(name)>0:
        print(name)

alex
rahul
sonu
monu
raj
rohan

In [12]:
for name in raw_data:
    if not name:
        continue
    print(name)

alex
rahul
sonu
monu
raj
rohan

In [19]:
numbers=[2,4,3,6,8,1183,89,98,64,]
for number in numbers:
    if number % 2 != 0:
        break
    print(number)

2
4

- aggregation logic

In [22]:
total=1
for i in numbers:
    total*=i
print(total)

760734793728

In [24]:
msg='this is a simple mesage with few words'
count=0 
for char in msg:
    if char == ' ':
        count += 1
print(f'{count} spaces found')

7 spaces found

In [25]:
msg.count(' ')

7

In [26]:
books=['the final empire','the well of ascension','the hero of ages']
for book in books:
    print(book)

the final empire
the well of ascension
the hero of ages

In [27]:
idx=0
for book in books:
    print(f'{idx} {book}')
    idx +=1

0 the final empire
1 the well of ascension
2 the hero of ages

In [28]:
#better code
for i in range(len(books)):
    print(f"{i} {books[i]}")

0 the final empire
1 the well of ascension
2 the hero of ages

In [29]:
#python code
for idx , val in enumerate(books):
    print(f"{idx} { book}")

0 the hero of ages
1 the hero of ages
2 the hero of ages

In [31]:
name=['fjhrh','rhguh','jrfiuh','eruiht'
      'frnruigti','gntiugi','riruigti','anjaki']
for idx,nam in enumerate(name):
    if idx==5:break
    print(nam)

fjhrh
rhguh
jrfiuh
eruihtfrnruigti
gntiugi