In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import yfinance as yf
%matplotlib inline

In [18]:
data1=yf.Ticker("F")
data=yf.Ticker("TSLA")
gm=yf.Ticker("GM")

In [7]:
data1.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-25 00:00:00-04:00,11.175742,11.461289,11.037891,11.362824,74213800,0.00,0.0
2023-10-26 00:00:00-04:00,11.727144,11.746837,11.156049,11.175742,84725900,0.00,0.0
2023-10-27 00:00:00-04:00,10.762191,10.801577,9.748004,9.807083,187029600,0.00,0.0
2023-10-30 00:00:00-04:00,9.925240,9.984319,9.531382,9.620000,106474700,0.00,0.0
2023-10-31 00:00:00-04:00,9.720000,9.910000,9.630000,9.750000,82238800,0.15,0.0
2023-11-01 00:00:00-04:00,9.840000,9.930000,9.760000,9.910000,75469700,0.00,0.0
2023-11-02 00:00:00-04:00,10.020000,10.150000,9.970000,10.140000,66914000,0.00,0.0
2023-11-03 00:00:00-04:00,10.260000,10.640000,10.250000,10.560000,60846800,0.00,0.0
2023-11-06 00:00:00-05:00,10.560000,10.600000,10.240000,10.310000,48435500,0.00,0.0
2023-11-07 00:00:00-05:00,10.250000,10.290000,10.050000,10.170000,50430800,0.00,0.0
2023-11-08 00:00:00-05:00,10.190000,10.210000,10.030000,10.050000,38700600,0.00,0.0
2023-11-09 00:00:00-05:00,10.040000,10.070000,9.690000,9.700000,59356900,0.00,0.0
2023-11-10 00:00:00-05:00,9.810000,9.870000,9.670000,9.860000,45069700,0.00,0.0
2023-11-13 00:00:00-05:00,9.830000,9.870000,9.740000,9.820000,34458300,0.00,0.0
2023-11-14 00:00:00-05:00,9.990000,10.460000,9.980000,10.400000,67684000,0.00,0.0
2023-11-15 00:00:00-05:00,10.410000,10.570000,10.390000,10.470000,45193700,0.00,0.0
2023-11-16 00:00:00-05:00,10.400000,10.430000,10.100000,10.160000,45408100,0.00,0.0
2023-11-17 00:00:00-05:00,10.260000,10.320000,10.190000,10.270000,36501200,0.00,0.0
2023-11-20 00:00:00-05:00,10.290000,10.430000,10.260000,10.340000,46933100,0.00,0.0
2023-11-21 00:00:00-05:00,10.280000,10.320000,10.100000,10.190000,47284300,0.00,0.0
2023-11-22 00:00:00-05:00,10.240000,10.380000,10.170000,10.260000,41116300,0.00,0.0
2023-11-24 00:00:00-05:00,10.280000,10.530000,10.280000,10.400000,22028100,0.00,0.0

In [16]:
data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-25 00:00:00-04:00,215.880005,220.100006,212.199997,212.419998,107065100,0.0,0.0
2023-10-26 00:00:00-04:00,211.320007,214.800003,204.880005,205.759995,115112600,0.0,0.0
2023-10-27 00:00:00-04:00,210.600006,212.410004,205.770004,207.300003,94881200,0.0,0.0
2023-10-30 00:00:00-04:00,209.279999,210.880005,194.669998,197.360001,136448200,0.0,0.0
2023-10-31 00:00:00-04:00,196.119995,202.800003,194.070007,200.839996,118068300,0.0,0.0
2023-11-01 00:00:00-04:00,204.039993,205.990005,197.850006,205.660004,121661700,0.0,0.0
2023-11-02 00:00:00-04:00,212.970001,219.199997,211.449997,218.509995,125987600,0.0,0.0
2023-11-03 00:00:00-04:00,221.149994,226.369995,218.399994,219.960007,119281000,0.0,0.0
2023-11-06 00:00:00-05:00,223.979996,226.320007,215.000000,219.270004,117335800,0.0,0.0
2023-11-07 00:00:00-05:00,219.979996,223.119995,215.720001,222.179993,116900100,0.0,0.0
2023-11-08 00:00:00-05:00,223.149994,224.149994,217.639999,222.110001,106584800,0.0,0.0
2023-11-09 00:00:00-05:00,219.750000,220.800003,206.679993,209.979996,142110500,0.0,0.0
2023-11-10 00:00:00-05:00,210.029999,215.380005,205.690002,214.649994,130994000,0.0,0.0
2023-11-13 00:00:00-05:00,215.600006,225.399994,211.610001,223.710007,140447600,0.0,0.0
2023-11-14 00:00:00-05:00,235.029999,238.139999,230.720001,237.410004,149771600,0.0,0.0
2023-11-15 00:00:00-05:00,239.289993,246.699997,236.449997,242.839996,150354000,0.0,0.0
2023-11-16 00:00:00-05:00,239.490005,240.880005,230.960007,233.589996,136816800,0.0,0.0
2023-11-17 00:00:00-05:00,232.000000,237.389999,226.539993,234.300003,142532800,0.0,0.0
2023-11-20 00:00:00-05:00,234.039993,237.100006,231.020004,235.600006,116320100,0.0,0.0
2023-11-21 00:00:00-05:00,235.039993,243.619995,233.339996,241.199997,122288000,0.0,0.0
2023-11-22 00:00:00-05:00,242.039993,244.009995,231.399994,234.210007,117950600,0.0,0.0
2023-11-24 00:00:00-05:00,233.750000,238.750000,232.330002,235.449997,65125200,0.0,0.0

In [8]:
gm=yf.Ticker("GM")

In [9]:
gm.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-25 00:00:00-04:00,28.549999,29.139999,27.709999,29.010000,24400400,0.0,0.0
2023-10-26 00:00:00-04:00,29.809999,30.219999,28.430000,28.549999,22788200,0.0,0.0
2023-10-27 00:00:00-04:00,28.490000,28.629999,27.120001,27.219999,25825600,0.0,0.0
2023-10-30 00:00:00-04:00,27.549999,27.719999,26.790001,27.360001,23227300,0.0,0.0
2023-10-31 00:00:00-04:00,27.500000,28.309999,27.340000,28.200001,17507200,0.0,0.0
2023-11-01 00:00:00-04:00,28.730000,28.799999,27.730000,28.000000,17364000,0.0,0.0
2023-11-02 00:00:00-04:00,28.440001,28.860001,28.160000,28.799999,15531400,0.0,0.0
2023-11-03 00:00:00-04:00,29.379999,30.059999,29.330000,29.770000,17415600,0.0,0.0
2023-11-06 00:00:00-05:00,29.770000,29.820000,28.990000,29.110001,12412100,0.0,0.0
2023-11-07 00:00:00-05:00,28.809999,28.950001,28.059999,28.410000,18254100,0.0,0.0
2023-11-08 00:00:00-05:00,28.340000,28.360001,27.520000,27.559999,18282600,0.0,0.0
2023-11-09 00:00:00-05:00,27.709999,27.709999,26.629999,26.650000,16045900,0.0,0.0
2023-11-10 00:00:00-05:00,26.709999,27.000000,26.299999,26.850000,16946700,0.0,0.0
2023-11-13 00:00:00-05:00,26.730000,27.110001,26.639999,26.900000,16394300,0.0,0.0
2023-11-14 00:00:00-05:00,27.450001,28.420000,27.410000,28.200001,24219700,0.0,0.0
2023-11-15 00:00:00-05:00,28.070000,28.230000,27.730000,28.139999,19628900,0.0,0.0
2023-11-16 00:00:00-05:00,27.930000,28.190001,27.420000,27.480000,16692000,0.0,0.0
2023-11-17 00:00:00-05:00,27.860001,28.030001,27.530001,28.030001,19919800,0.0,0.0
2023-11-20 00:00:00-05:00,28.180000,28.770000,28.139999,28.520000,19348500,0.0,0.0
2023-11-21 00:00:00-05:00,28.250000,28.570000,27.700001,27.900000,19693500,0.0,0.0
2023-11-22 00:00:00-05:00,28.059999,28.350000,27.840000,28.100000,11338100,0.0,0.0
2023-11-24 00:00:00-05:00,28.170000,28.500000,28.120001,28.180000,6941400,0.0,0.0

In [19]:
gm["Open"].plot()

TypeError: 'Ticker' object is not subscriptable