- create
- indexing and slicing
- methods
- basics operation
- comphresion

In [8]:
x=[] #EMPTY LIST
a=[1,2,3,4,5,6]
b=['alex','alexa','alexas']
c=['alex',12,'alexa',34]
d=[[1,2,3,4],['alex','alexa'] ,[1,4,5,]] #nested list

In [9]:
w=[1]*10 # duplication
print(w)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [10]:
r=['ü§∑‚Äç‚ôÄÔ∏è']*12
print(r)

['ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è', 'ü§∑\u200d‚ôÄÔ∏è']

In [11]:
a=[1,2,3,4]
b=[3 ,4,7,8,5]
c=a+b
print(c) # list concatinaion

d=[a,b]
print(d) # nested list

[1, 2, 3, 4, 3, 4, 7, 8, 5]
[[1, 2, 3, 4], [3, 4, 7, 8, 5]]

In [12]:
x=[1,3,4,5,6,7,8,9,'alez']
print(x[:3])
print(x[2:5])
print(x[2:])
print(x[1::2])
print(x[3:-3])
print(x[::-1])

[1, 3, 4]
[4, 5, 6]
[4, 5, 6, 7, 8, 9, 'alez']
[3, 5, 7, 9]
[5, 6, 7]
['alez', 9, 8, 7, 6, 5, 4, 3, 1]

In [13]:
for i in x:
    print(i,end=' ')

1 3 4 5 6 7 8 9 alez

- methods
  - add
    - append
    - extend
    - insert
  - remove
    - remove
    - pop
    - clear
  - helper
    - index
    - count
    - sort
    - reverse
    - copy

In [14]:
books=[]
books.append("the final earth")
books.append('the final desination')
books.append("the last time on earth")
print(books)

['the final earth', 'the final desination', 'the last time on earth']

In [15]:
books.insert(1,'thhe way of king')
books.insert(3,"the end of earth")
print(books)

['the final earth', 'thhe way of king', 'the final desination', 'the end of earth', 'the last time on earth']

In [16]:
crappy_books=[
    "twlight saga : new moon",
    "twlight saga : eclipse",
    "the wheel of time",
    "let us python",
]
print(crappy_books)

['twlight saga : new moon', 'twlight saga : eclipse', 'the wheel of time', 'let us python']

In [17]:
books.extend(crappy_books)
print(books)

['the final earth', 'thhe way of king', 'the final desination', 'the end of earth', 'the last time on earth', 'twlight saga : new moon', 'twlight saga : eclipse', 'the wheel of time', 'let us python']

In [18]:
num=[1,3,4,5]
more_num=[6,7,8,9]
num.extend(more_num)
print(num)

[1, 3, 4, 5, 6, 7, 8, 9]

In [19]:
num_matrix=[num,num,num]
print(num_matrix)

[[1, 3, 4, 5, 6, 7, 8, 9], [1, 3, 4, 5, 6, 7, 8, 9], [1, 3, 4, 5, 6, 7, 8, 9]]

In [20]:
all_num=num+more_num
print(all_num)

[1, 3, 4, 5, 6, 7, 8, 9, 6, 7, 8, 9]

In [21]:
x=[]



for i in range(5):
    x1=input("enter the books name")
    x.append(x1)
print(x)

['1', '3', '4', '5', '6']

In [29]:
a=[]
b=[1,2,3,4]
for i in range(5):
    x=int(input("enter the string"))
    a.append(x)
    
print(sum(a+b))
print(sum(a))
print(sum(b))

44
34
10

In [23]:
crappy_books.pop()

'let us python'

In [24]:
crappy_books.remove("the wheel of time")

In [5]:
mine=["the real story",
      "bharat",
      "Ameesh",
      "the truth of youth",
      "sanatan",

]
def safe_remove(val_to_remove):
    if val_to_remove in mine:
        mine.remove(val_to_remove)
        print(f"{val_to_remove} remove from list")
    else:
        print(f"{val_to_remove} not found")

In [6]:
safe_remove("the real story")

the real story remove from list

In [25]:
output=crappy_books.pop(1)
print(output)
print(crappy_books)

twlight saga : eclipse
['twlight saga : new moon']

In [26]:
crappy_books.clear()
print(crappy_books)

[]

In [27]:
del crappy_books

In [1]:
x=["a1",'a2','b1','b1','b2']
print(x.count("a1"))

1

In [4]:
x.sort()
print(x)

['a1', 'a2', 'b1', 'b1', 'b2']

In [5]:
a=[1,3,4,5,2]
a.reverse()
print(a)

[2, 5, 4, 3, 1]

In [6]:
words=['app','apple','avocado','aeroplane','association']
words.sort()
print(words)
words.sort(reverse=True)
print(words)
words.sort(key=len)
print(words)
words.sort(reverse=True,key=len)
print(words)

['aeroplane', 'app', 'apple', 'association', 'avocado']
['avocado', 'association', 'apple', 'app', 'aeroplane']
['app', 'apple', 'avocado', 'aeroplane', 'association']
['association', 'aeroplane', 'avocado', 'apple', 'app']

In [7]:
words.index('apple')

3

In [9]:
words_copy1=words #copy by reference
word_copy2=words.copy()

In [10]:
words_copy1 is words

True

In [11]:
word_copy2 is words

False

In [12]:
x=[1,3,4,5,6]
y=x

x.append(4)
y.append(4)
print(x)
print(y)

[1, 3, 4, 5, 6, 4, 4]
[1, 3, 4, 5, 6, 4, 4]

In [14]:
x=[1,3,4,5,6]
y=x.copy()

#x.append(4)
y.append(4)
print(x)
print(y)

[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6, 4]

generating a list of number from existing list

In [21]:
x=[1,2,3,4,5]
s=[]
for i in x:
    y=i**2
    s.append(y)
print(s)

[1, 4, 9, 16, 25]

list comprehsion

syntax
'''
new_list=[operation for item in list]

'''
 new_list=[opertation from item in list if expression]

In [22]:
s=[i**2 for i in x]
print(s)

[1, 4, 9, 16, 25]

In [24]:
a=[1,2,3,4,5,6,7,8,9,10]
a_odd=[i for i in a if i % 2 != 0]
print(a)
print(a_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [28]:
a=[1,2,3,4,5,6,7,8,9,10]
a_odd=[ i**3 for i in a if i % 2 == 0]
print(a)
print(a_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[8, 64, 216, 512, 1000]