>- create strings
- indexing and slicing
- strings methods
   - formating methods
   - validation methods
   - utility methods
- python built-in function for strings
   - len()
   - str()
   - ord()
   - chr()
   - eval()

#defining string inpython

In [1]:
#defining string in python
#ALL OF THE FOLLOWIng are equivalent

my_string='hello'
print(my_string)

my_string="hello"
print(my_string)

my_string='''hello'''
print(my_string)

#tripple quotes string can extend multiple line
my_string=''' hello i am ajali prajapati
           and this is my program'''

print(my_string)

hello
hello
hello
 hello i am ajali prajapati
           and this is my program

In [5]:
x='sophomore'
print(x[0])
print(x[3])
print(x[-1])
print('x[-2]=' , x[-2])

s
h
e
x[-2]= r

In [6]:
print(x(0))

TypeError: 'str' object is not callable

In [7]:
s='digipodium'
print(s[4:7])

pod

In [8]:
name="vijay dinanath chauhan"

In [9]:
name[0]+name[1]+name[2]+name[3]+name[4]

'vijay'

In [10]:
name[0:5]

'vijay'

In [18]:
print(name[:5])
print(name[6:14])
print(name[-7:])
print(name[15:])

vijay
dinanath
chauhan
chauhan

In [30]:
price='Rs.35000 only'

print (type(int(price[3:8])))
print(price[3:3+5])

<class 'int'>
35000

In [28]:
word="william shakespeare"

print(word[-5:])
print(word[:7])
print(word[8:13])

peare
william
shake

slicing syntax
var[start: stop]
var[start:stop:step]

In [35]:
word[:18:2]

'wlimsaepa'

In [34]:
word[::2]

'wlimsaepae'

In [36]:
word[::-1]# reverse

'eraepsekahs mailliw'

In [37]:
word[::-2]

'eapeasmilw'

In [38]:
name[:5:][::-1][:]

'yajiv'

- chr()- convert integer to string char

In [41]:
x=chr(65)
print(x)
y=chr(2365) #chr()- convert integer to string char
print(y)
print(chr(12365))

A
ऽ
き

- ord()- convert a char to integer

In [47]:
x=ord('A')
print(x)            # ord()- convert a char to integer
print(ord('a'))
print(ord('{'))

print(ord('['))

65
97
123
91

-  len()- returns length of string

In [49]:
print(len("amazing"))
size=len("hope")
print(size)             #str()

7
4

In [51]:
#concatenation

'hi' + ' ' + 'there'

'hi there'

In [52]:
#duplication

'hi'*5

'hihihihihi'

In [53]:
'❤️'*7

'❤️❤️❤️❤️❤️❤️❤️'