#string methods
- formatting
   - uppercase()
   - lower()
   - 'captailize()'
   -

In [2]:
msg="this is an example for string formatting"

In [3]:
#msg.

msg.upper()

'THIS IS AN EXAMPLE FOR STRING FORMATTING'

In [4]:
msg_u=msg.upper()
print(msg_u)

THIS IS AN EXAMPLE FOR STRING FORMATTING

In [5]:
print(msg.lower())
print(msg.capitalize())
print(msg.title())
print(msg.swapcase())
print(msg.casefold())
print(msg_u)

this is an example for string formatting
This is an example for string formatting
This Is An Example For String Formatting
THIS IS AN EXAMPLE FOR STRING FORMATTING
this is an example for string formatting
THIS IS AN EXAMPLE FOR STRING FORMATTING

In [6]:
msg.find('is')

2

In [7]:
msg.find('is',3)

5

In [8]:
msg.find('is',6) # -1 means char does not found

-1

In [9]:
msg.index('is')

2

In [10]:
print(msg.rfind('is'))
print(msg.rfind('is',3))
print(msg.rindex('is'))

5
5
5

In [11]:
print( msg.count('i'))

4

- validation

In [12]:
name='Vijay'
print(name.isalpha())
print(name.isdigit())
print(name.isalnum())
print(name.islower())
print(name.isupper())
print(name.istitle())

True
False
True
False
False
True

In [13]:
guests=['Mr.Alex','Ms.Gupta','Mr.Smith','Ms.Smith','Mr.Vijay']
for name in guests:
    if name.startswith('Mr.'):
        print(f'helo{name}')
    elif name.startswith('Ms.'):
        print(f'hi{name}')
    else:
        print("yo")

heloMr.Alex
hiMs.Gupta
heloMr.Smith
hiMs.Smith
heloMr.Vijay

In [14]:
guests=['mr.Alex','Ms.Gupta','mr.Smith','Ms.Smith','mr.Vijay']
for name in guests:
    if name.startswith('Mr.'):
        print(f'helo{name}')
    elif name.startswith('Ms.'):       #endwith()
        print(f'hi{name}')
    else:
        print("yo")

yo
hiMs.Gupta
yo
hiMs.Smith
yo

In [15]:
files=['file1.txt','file2.txt','file3.txt',
       'file4.csv','file5.csv','file6.csv']
for file in files:
    if file.endswith('txt'): print(f"{file} text")
    elif file.endswith('csv'): print(f"{file} csv")
    else: print(f"{file } unknown")

file1.txt text
file2.txt text
file3.txt text
file4.csv csv
file5.csv csv
file6.csv csv

- Malipulation

In [16]:
poem=''' Twinkle twinkle, little star
How i wonder what you are,
Up above the world so high,
Like a dimond in the sky.'''
print(poem)

 Twinkle twinkle, little star
How i wonder what you are,
Up above the world so high,
Like a dimond in the sky.

In [17]:
poem.split()

['Twinkle',
 'twinkle,',
 'little',
 'star',
 'How',
 'i',
 'wonder',
 'what',
 'you',
 'are,',
 'Up',
 'above',
 'the',
 'world',
 'so',
 'high,',
 'Like',
 'a',
 'dimond',
 'in',
 'the',
 'sky.']

In [18]:
poem.splitlines()

[' Twinkle twinkle, little star',
 'How i wonder what you are,',
 'Up above the world so high,',
 'Like a dimond in the sky.']

In [19]:
poem.split(",") # split on comma

[' Twinkle twinkle',
 ' little star\nHow i wonder what you are',
 '\nUp above the world so high',
 '\nLike a dimond in the sky.']

In [20]:
file=['movie1.mp4','song1.mp3','image1.jpg','text1.txt']
for f in file:
    name=f.split(".")[0] # first part of the file name
    print(name)

movie1
song1
image1
text1

In [21]:
", ".join(file)

'movie1.mp4, song1.mp3, image1.jpg, text1.txt'

In [22]:
path=['c:','users', 'Zaid','downloads','image.jpg']
print("/".join(path))

c:/users/Zaid/downloads/image.jpg

In [23]:
name="   vijay kumar  "
clean_name=name.strip()
name_1=name.lstrip()
name_2= name.rstrip()
print(name,len(name))
print(clean_name,len(clean_name))
print(name_1,len(name_1))
print(name_2,len(name_2))

   vijay kumar   16
vijay kumar 11
vijay kumar   13
   vijay kumar 14

In [24]:
data = ''' 


             A imple Object'''

data.strip()

'A imple Object'

In [25]:
content='#################word###Example#######'
content.strip('#')

'word###Example'

In [26]:
msg=" This is am example of content in a string"
msg.replace('a','e')

' This is em exemple of content in e string'

In [27]:
msg.replace('example', ' easy example')

' This is am  easy example of content in a string'

In [28]:
msg.replace('is','are')

' Thare are am example of content in a string'

In [29]:
msg.replace('This','that').replace('is','was').replace('in','whithin',1)#.replace('strong','string')

' that was am example of content whithin a string'

In [30]:
modified_msg=msg.replace("is",'are')
modified_msg

' Thare are am example of content in a string'

In [1]:
text='%p34!@*_*y&^$%thon+_*&^'
ans=" "
for char in text:
    if char.isalpha():
        ans+=char
print(ans)

 python

In [32]:
from string import punctuation , digits
for p in punctuation+digits:
    text=text.replace(p,'')
print(text)

python

In [33]:
x=input("enter the strings")
print(x.lower())
x.replace('a','b').replace('e','c').replace('i','d').replace('o','t').replace('u','s')

dfkjhdfkbbkj

'dfkjhdfkbbkj'

In [34]:
msg=input("hi there my name is fjjfgnirngpiu")
for v in 'aeiouAEIOU':
     msg=msg.replace(v,'')
print(msg)

rjgrkjkjn;jrg'

In [35]:
names=['Alex Smith','john Howrd','Arti Kumari','Vivek Kapur']
#for f in names:
names.split("A")[0].split("S").split("J").split("H").split("K").split("v")
print(names)

AttributeError: 'list' object has no attribute 'split'

In [ ]:
for name in names:
    fn, *_ , ln = name.split()
    print(f"{fn[0]}.{ln[0]}.")

In [1]:
name='ajay kumar singh garg'
name.split()

['ajay', 'kumar', 'singh', 'garg']

In [2]:
p1,p2,*p3= name.split()
print(p1,p2,p3)

ajay kumar ['singh', 'garg']

In [3]:
p1,*_ , p2 = name.split()
print(p1,_, p2)

ajay ['kumar', 'singh'] garg